/*---------------------------*/
/*-----------Init-----------*/
/*---------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.group:before,
.group:after { content: ""; display: table;} 
.group:after { clear: both;}
.group { zoom: 1;}
.hidden { display: none; }


/*---------------------------*/
/*------General Spacing------*/
/*---------------------------*/
.post h1, h3, h4, h5, p, .postbody ul, #post-list li, pre {
margin-bottom: 20px;
}

h3, h4, h5 { 
	color:#333; 
}

h3 { 
	font-size:20px; 
}

h4 { 
	font-size:16px;   
}

h5 { 
	font-size:15px;  
	font-family: "HelveticaNeue-CondensedBold";
}

a {
	text-decoration:none; 
	color:#5badf0;
	color:#5694f1;
}

html, body {
	height: 100%; 
}

body {
	font-family: "HelveticaNeue";
	color:#888;
	background: #ffffff;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}


.illustration1 {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0;
	top: 0;
}

.illustration2 {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0;
	top: 0;
}

.illustration3 {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0;
	top: 0;
}

.illustration4 {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0;
	top: 0;
}

.illustration5 {
	position: ;
	width: 500px;
	height: 500px;
	margin-right: -200px;
	float: right;
	bottom: 0;
}

#wrapper {
	padding:200px 40px 100px 40px;
	max-width:800px;
	margin:0 auto;
}

.waldskulpturenweg {
	margin-top: 100px;
	
	display: inline-block;

}

.waldskulpturenweg img{
	position: ;
	right: 200px;
	margin-top: -300px;
	display: inline-block;
	height: 500px;
	width: auto;
	margin-left: 500px;
}

.textbox {
	margin-top: 200px;
	display: inline-block;
}



.waldskulpturenweg p, .waldskulpturenweg h5 {
	display: inline;

	
}



.stundenblume {
	margin-top: 100px;
	margin-bottom: 100px;
	
	display: inline-block;
}

.stundenblume .textbox {
	margin-left: 50px;
}

.stundenblume img{
	position: ;
	display: inline;
	height: 500px;
	width: auto;
	float: left;
}

.stundenblume p, .stundenblume h5 {
	display: inline;
	vertical-align: top;
}

.four {
	margin-top: 100px;
	margin-bottom: 00px;
	
	display: inline-block;
}

.four .textbox {
	
}

.four img{
	position: ;
	display: inline;
	height: 500px;
	width: auto;
	float: right;
	margin-left: 50px;
}

.four p, .four h5 {
	display: inline;
	vertical-align: top;
}

.medis {
	margin-top: 00px;
	margin-bottom: 100px;
	
	display: inline-block;
}

.medis .textbox {
	margin-bottom: 30px;
}

.medis img{
	position: ;
	display: inline;
	height: 400px;
	width: auto;
	
	margin-left: 0px;
}

.medis p, .medis h5 {
	display: inline;

}

.seiffertfilm {
	margin-top: 00px;
	margin-bottom: 100px;
	
	display: inline-block;
}

.seiffertfilm .textbox {
	margin-bottom: 30px;
}

.seiffertfilm img{
	position: ;
	display: inline;
	height: 400px;
	width: auto;
	
	margin-left: 0px;
}

.seiffertfilm p, .seiffertfilm h5 {
	display: inline;

}

.postbody, p { 
	line-height:1.7; 
}

#title {
	display:inline-block;
	line-height:100%;
	font-size:23px;
	margin:0;
	padding-bottom:20px;
}

.header-title {
	font-family: "HelveticaNeue-CondensedBold";
	color: #888888;
	
}

.titleText {
	margin-left: 350px;
}

#post-list,#archive-list {
	margin-top:0px;
}

#header {
	margin-bottom:100px;
}

#about-me {
	padding-top:100px;
}


#footer { 
	box-shadow: inset 0 1px 0 #eee;
	padding: 40px 0 0 0;
}

#footer p {
	font-size:13px; 
	color: #aaa;
}

#header {
	border-bottom:1px solid #eee;
	margin-left: 350px;
}





